:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --track-bg: rgba(0,0,0,0.5);
  --track-check: rgba(255,255,255,0.2);
  --track-check-alt: transparent;
  --track-check-gradient: linear-gradient(45deg,
      var(--track-check) 25%,
      var(--track-check-alt) 25%,
      var(--track-check-alt) 75%,
      var(--track-check) 75%,
      var(--track-check)
    );
  --track-box-shadow: 
    rgba(0,0,0,0.3) 0 1px inset,
    rgba(255,255,255,0.2) 0 1px;

  --slider-box-shadow: 
    rgba(255,255,255,0.3) 0 1px 2px inset,
    rgba(0,0,0,0.3) 0 -1px 1px inset;

  --input-box-shadow: rgba(255,255,255,0.1) 0 1px 0,rgba(0,0,0,0.8) 0 1px 7px 0px inset;
  --input-bg: rgba(0,0,0,0.3);
  --input-color: rgba(255,255,255,0.8);
  --input-text-shadow: rgba(0,0,0,0.5) 0 2px 1px;

  --input-invalid-bg: rgba(102,0,0,0.3);
  --input-invalid-box-shadow: rgba(255,127,127,0.1) 0 1px 0, rgba(0,0,0,0.8) 0 1px 7px 0px inset;
  --input-invalid-color: #ff0f0f;

  --thumb-box-shadow: 
    0 0 0 3px rgba(var(--red), var(--green), var(--blue), 0.3) inset,
    0 0 0 3px rgba(255, 255, 255, 1) inset,
    0 0 0 4px rgb(0 0 0 / 0.5) inset,
    0 0 0 1px rgb(0 0 0 / 0.5);

  --thumb-box-shadow-hover: 
    0 0 0 3px rgba(var(--red), var(--green), var(--blue), 0.1) inset,
    0 0 0 3px rgba(255, 255, 255, 1) inset,
    0 0 0 4px rgb(0 0 0 / 0.5) inset,
    0 0 0 1px rgb(0 0 0 / 0.5);
}
* {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #efefef;
    --track-bg: rgba(0,0,0,0.05);
    --track-check: rgba(0,0,0,0.2);
    --track-box-shadow: 
      rgba(0,0,0,0.3) 0 1px inset,
      rgba(255,255,255,0.6) 0 1px;

    --slider-box-shadow: 
      rgba(255,255,255,0.6) 0 1px 2px inset,
      rgba(0,0,0,0.3) 0 0 0 1px inset;

    --input-box-shadow: #fff 0 1px 0, rgba(0,0,0,0.2) 0 1px 7px 0px inset;
    --input-bg: rgba(0,0,0,0.05);
    --input-color: rgba(0,0,0,0.8);
    --input-text-shadow: rgba(255,255,255,1) 0 1px 1px;

    --input-invalid-bg: rgba(214 0 0 / 0.19);
    --input-invalid-box-shadow: rgba(214 0 0 / 0.1) 0 1px 0, rgba(138 0 0 / 0.8) 0 1px 7px 0px inset;
    --input-invalid-color: #d60000;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
